body.dark-mode {
  background-color: #000;
  color: #fff;
  font-family: "ColfaxAI", Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.left-panel {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 245px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  overflow: auto;
  transition: width 0.3s ease;
}

.left-panel.collapsed {
  width: auto; /* Let it take the minimum width required */
  padding: 10px; /* Already defined in .left-panel */
}

.left-panel.collapsed .large-rect {
  display: none; /* Hide when collapsed */
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.large-rect {
  width: 200px;
  height: 50px;
  background-color: #555;
  border-radius: 25px;
}

.small-square {
  width: 50px;
  height: 50px;
  background-color: #777;
  border-radius: 25px;
  cursor: pointer;
}

.icon {
  font-size: 24px;
  color: #fff;
  text-align: center;
  line-height: 50px;
}

.main-content {
  margin-left: 250px;  /* Width of the left panel + 20px gap */
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-input-wrapper, .chat-container {
  box-sizing: border-box;  /* Include padding and border in width */
  max-width: 700px;
  width: 100%;
  margin: 0;  /* Remove any margin */
  padding: 0;  /* Remove any padding */
}

.chat-input-wrapper {
  position: relative;
}

/* .chat-input-container {
  display: flex;
  align-items: center;  
} */

.chat-input-container {
  position: relative; /* Add relative positioning here too */
  width: 100%;  /* Full width */
}

.chat-input-container textarea {
  background-color: #444;
  color: #fff;
  border-radius: 8px; /* To give it a bubble shape */
  padding: 10px;
  border: none;  /* Remove default border */
}

textarea {
  flex-grow: 1; 
  margin-right: 10px;  
  width: 100%;  /* Full width */
  padding-right: 50px;  /* Make room for the button */
}

.generate-button {
  border-radius: 8px;  /* Bubble styling */
  font-size: 18px;  /* Update the arrow icon size */
  position: absolute;  /* Absolute positioning */
  right: 0;  /* Stick to the right side */
  top: 50%;  /* Center vertically */
  transform: translateY(-50%);  /* Fine-tune the vertical centering */
  /* Other styles like border-radius and font-size remain unchanged */
}

.chat-container {
  margin-top: 20px;
  border: 1px solid #555;
  border-radius: 8px;
  padding: 10px;
}

.chat-bubble {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  max-width: 100%;
}

.bot-bubble {
  background-color: #666;
  color: #fff;
}

.user-bubble {
  background-color: #444;
  color: #fff;
}
