body.bg-dark {
  background-color: #000;
  color: #fff;
  font-family: "ColfaxAI", Helvetica, sans-serif;
  margin: 0;
}

.app-container {
  padding-top: 10px;
}

.left-panel {
  width: 300px !important;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #555;
  border-radius: 8px;
  margin-bottom: 10px;
  padding-right: 0px !important;
}

  .left-panel.d-flex .left-panel-controls {
      padding-left: 0px;
  }
  
    .left-panel.panel-collapsed {
      display:none !important;
    }

    .left-panel-button.left-panel-button-open,
    .left-panel-button.left-panel-button-close {
      width: 45px;
      height: 38px;
    }

    .btn-secondary {
      background-color: #555;
      border: 1px solid #777;
      border-radius: 8px;
      color: #fff;
      transition: background-color 0.3s ease;
      padding: 0px;
    }

      .btn-secondary:hover {
        background-color: #666;
        border-color: #888;
      }

      .img-fluid {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }

  .user-conversation-list .user-conversation-item.list-group-item.bg-secondary {
    margin-bottom: 10px;
    font-size: 12px;
    background-color: #666;
    border: 1px solid #777;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer; 
    padding-right: 10px;
  }

    .user-conversation-list .user-conversation-item.list-group-item.bg-secondary:hover {
      background-color: #555 !important;
    }

    .user-conversation-list .user-conversation-item .btn {
      padding: 0px;
      margin: 0px;
      margin-left: 10px;
      width: 25px;
      height: 25px;
    }

  .credits-button-container {
    padding-bottom: 10px;
  }

    .credits-button-container button {
      width: 97%;
    }

    .credits-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 1;
    }
  
    .credits-container {
      display: none;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      padding: 20px;
      width: 350px;
      border-radius: 8px;
      background-color: #595968;
      color: #ccc;
      font-size: 14px;
      border: 2px solid #757575;
      box-shadow: 0 0 0 4px #595968, 0 0 0 6px #8f8f8f;
    }

.chat-panel {
  min-width: 600px;
}

  .app-header {
    border: 1px solid #555;
    border-radius: 8px;
    text-align: center;
    margin-left: -3px !important;
    margin-right: -3px !important;
  }

    .app-header .left-panel-button-open {
      display:none;
    }

    .app-header.panel-collapsed .left-panel-button-open {
      position: absolute;
      display:inherit;
      visibility: visible;
      margin-left: 0px !important;
    }

  .chat-form-container.mb-3 {
    border: 1px solid #555;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px !important;
  }

    .chat-form {
      position: relative;
    }

      .chat-textarea {
        background-color: #444;
        color: #fff;
        border-radius: 8px;
        border: none;
        width: 100%;
        padding: 20px;
      }

        .input-group .btn.btn-chat-generate {
          position:absolute;
          top: 20px;
          right: 20px;
          z-index: 1;
          border-radius: 15px;
          padding: 0px;
          height: 25px;
          width: 25px;
      }

          .btn-chat-generate:focus {
            outline: 2px solid #007bff; /* Or any color you prefer */
            box-shadow: 0 0 5px #007bff; /* Optional, for additional emphasis */
          }

          .btn-chat-generate img.img-fluid {
            width: 23px;
            height: 23px;
            vertical-align: middle;
          }

  .chat-responses-container {
    border: 1px solid #555;
    border-radius: 8px;
    max-height: 78vh;
    overflow-y: auto;
  }

    .chat-message {
      margin-top: 10px;
      display: flex;
      align-items: flex-start;
    }

    .chat-message img {
      margin-left: 0px; /* Adjust as needed */
    }
    
    .chat-message span {
      flex: 1;
    }

