<!DOCTYPE html>
<head>
  <title>Python AI</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='flaticon-brain.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body class="bg-dark">
  <div class="container-fluid app-container">
    <div class="row">
      <div class="col-2 d-flex flex-column left-panel" id="left-panel">
        <div class="row p-2">
          <div class="col d-flex left-panel-controls">
            <button class="btn btn-secondary flex-grow-1">+ New Conversation</button>
            <button class="btn btn-secondary ms-2 left-panel-button left-panel-button-close" id="left-panel-button-close">
              <img src="/static/flaticon-sidebar.png" alt="Sidebar" class="img-fluid">
            </button>
          </div>
        </div>
        <div class="row p-2">
          <ol class="list-group user-conversation-list">
            {% if user_session and user_session.user_conversations %}
              {% for user_conversation in user_session.user_conversations %}
              <li class="user-conversation-item list-group-item bg-secondary text-light d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <img src="/static/flaticon-message.png" alt="Conversation" class="img-fluid me-2">
                  <div>{{ user_conversation.title }}</div>
                </div>
                <div class="d-flex align-items-center">
                  <button class="btn btn-secondary btn-sm"><img src="/static/flaticon-edit.png" alt="Edit" class="img-fluid"></button>
                  <button class="btn btn-secondary btn-sm ms-1"><img src="/static/flaticon-delete.png" alt="Delete" class="img-fluid"></button>
                </div>
              </li>
              {% endfor %}
            {% endif %}
          </ol>
        </div>
        <div class="mt-auto credits-button-container">
          <button id="show-credits-btn" class="btn btn-secondary mt-3">Credits</button>
        </div>
        <div id="credits-overlay" class="credits-overlay"></div>
        <div id="credits-container" class="credits-container">
          <h2>Credits</h2>
          <div><a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by kmg design - Flaticon</a></div>
          <div><a href="https://www.flaticon.com/free-icons/brain" title="brain icons">Brain icons created by Freepik - Flaticon</a></div>
          <div><a href="https://www.flaticon.com/free-icons/sidebar" title="sidebar icons">Sidebar icons created by Royyan Wijaya - Flaticon</a></div>
          <div><a href="https://www.flaticon.com/free-icons/edit" title="edit icons">Edit icons created by Kiranshastry - Flaticon</a></div>
          <div><a href="https://www.flaticon.com/free-icons/delete" title="delete icons">Delete icons created by Kiranshastry - Flaticon</a></div>
          <div><a href="https://www.flaticon.com/free-icons/ui" title="ui icons">Ui icons created by NajmunNahar - Flaticon</a></div>
          <div><a href="https://www.flaticon.com/free-icons/speech-bubble" title="speech bubble icons">Speech bubble icons created by Smashicons - Flaticon</a></div>
        </div>
      </div>
      <div class="col-5 mx-auto chat-panel">
        <div class="row p-2 app-header" id="app-header">
          <h4 class="text-light">Python AI Interface</h3>
          <button class="btn btn-secondary ms-2 left-panel-button left-panel-button-open" id="left-panel-button-open">
            <img src="/static/flaticon-sidebar.png" alt="Sidebar" class="img-fluid">
          </button>
        </div>
        <div class="row p-2">
          <div class="input-group mb-3 chat-form-container">
            <form action="/fetch_response" method="post" class="w-100 chat-form">
              <textarea name="message" class="chat-textarea" placeholder="Send a message" required></textarea>
              <button type="submit" class="btn btn-secondary btn-chat-generate" id="btn-chat-generate">
                <img src="/static/flaticon-right-arrow.png" alt="Send Message" class="img-fluid">
              </button>
            </form>
          </div>
          <div class="chat-responses-container text-light rounded">
            {% if user_session and user_session.conversation %}
              {% for message in user_session.conversation.messages|reverse %}
                {% if message.role == 'assistant' %}
                  <div class="alert alert-secondary chat-message">
                    <img src="/static/flaticon-brain.png" alt="Bot" class="img-fluid">
                    <span>{{ message.content }}</span>
                  </div>
                {% elif message.role == 'user' %}
                  <div class="alert alert-dark chat-message">
                    <img src="/static/flaticon-user.png" alt="User" class="img-fluid">
                    <span>{{ message.content }}</span>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="app"></div>
</body>

<script src="{{ url_for('static', filename='dist/bundle.js') }}" defer></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    setupSidebar();
    setupCreditsButton();
  });

  function setupSidebar() {
    const leftPanel = document.getElementById('left-panel');
    const appHeader = document.getElementById('app-header');
    const leftPanelButton = document.getElementById('left-panel-button-close');
    const leftPanelButtonOpen = document.getElementById('left-panel-button-open');
    var buttons = [];
    buttons.push(leftPanelButton);
    buttons.push(leftPanelButtonOpen);
    for(i = 0; i < buttons.length; i++) {
      buttons[i].addEventListener('click', function() {
        if(leftPanel.classList.contains('panel-collapsed')) {
          leftPanel.classList.remove('panel-collapsed');
        } else {
          leftPanel.classList.add('panel-collapsed');
        }
        if(appHeader.classList.contains('panel-collapsed')) {
          appHeader.classList.remove('panel-collapsed');
        } else {
          appHeader.classList.add('panel-collapsed');
        }
      });
    }
  }

  function setupCreditsButton() {
    const creditsBtn = document.getElementById('show-credits-btn');
    const creditsContainer = document.getElementById('credits-container');
    const overlay = document.getElementById('credits-overlay');

    creditsBtn.addEventListener("click", function() {
      if (creditsContainer.style.display === "none" || !creditsContainer.style.display) {
        creditsContainer.style.display = "block";
        overlay.style.display = "block";
      } else {
        hideCredits();
      }
    });

    overlay.addEventListener("click", function() {
      creditsContainer.style.display = "none";
      overlay.style.display = "none";
    });
  }

</script>