<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body class="dark-mode">
  <div class="flex-container">
    <div class="left-panel" id="left-panel">
      <div class="panel-header">
        <div class="newchat-button"><div class="newchat-text">+ New Chat</div></div>
        <div class="sidebar-button" id="toggle-btn">
          <img src="/static/flaticon-sidebar.png" alt="Sidebar" class="sidebar-icon">
        </div>
      </div>
      <ol class="conversation-list">
        <li class="conversation-item">
          <img src="/static/flaticon-message.png" alt="Conversation" class="conversation-icon">
          <div class="conversation-text">Title</div>
          <div class="conversation-commands">
            <button class="conversation-button"><img src="/static/flaticon-edit.png" alt="Edit" class="conversation-icon"></button>
            <button class="conversation-button"><img src="/static/flaticon-delete.png" alt="Delete" class="conversation-icon"></button>
          </div>
        </li>
        <li class="conversation-item">
          <img src="/static/flaticon-message.png" alt="Conversation" class="conversation-icon">
          <div class="conversation-text">Title</div>
          <div class="conversation-commands">
            <button class="conversation-button"><img src="/static/flaticon-edit.png" alt="Edit" class="conversation-icon"></button>
            <button class="conversation-button"><img src="/static/flaticon-delete.png" alt="Delete" class="conversation-icon"></button>
          </div>
        </li>
      </ol>
      <button id="show-credits-btn" class="credits-button">Credits</button>
      <div id="credits-overlay" class="credits-overlay"></div>
      <div id="credits-container" class="credits-container">
        <h2>Credits</h2>
        <div><a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by kmg design - Flaticon</a></div>
        <div><a href="https://www.flaticon.com/free-icons/brain" title="brain icons">Brain icons created by Freepik - Flaticon</a></div>
        <div><a href="https://www.flaticon.com/free-icons/sidebar" title="sidebar icons">Sidebar icons created by Royyan Wijaya - Flaticon</a></div>
        <div><a href="https://www.flaticon.com/free-icons/edit" title="edit icons">Edit icons created by Kiranshastry - Flaticon</a></div>
        <div><a href="https://www.flaticon.com/free-icons/delete" title="delete icons">Delete icons created by Kiranshastry - Flaticon</a></div>
        <div><a href="https://www.flaticon.com/free-icons/ui" title="ui icons">Ui icons created by NajmunNahar - Flaticon</a></div>
        <div><a href="https://www.flaticon.com/free-icons/speech-bubble" title="speech bubble icons">Speech bubble icons created by Smashicons - Flaticon</a></div>
      </div>
    </div>
  </div>
  <div class="main-content">
    <h3>Chat Interface</h3>
    <div class="chat-input-wrapper">
      <form action="/fetch_response" method="post" class="chat-input-container">
        <textarea name="message" placeholder="Send a message" required></textarea>
        <button type="submit" class="generate-button"><img src="/static/flaticon-right-arrow.png" alt="Generate" class="generate-icon"></button>
      </form>
    </div>
    <div class="chat-container">
      {% if chat_history %}
        {% for message in chat_history.messages|reverse %}
          {% if message.role == 'assistant' %}
            <div class="chat-bubble bot-bubble"><img src="/static/flaticon-brain.png" alt="Bot" class="chat-icon"><div class="chat-message">{{ message.content }}</div></div>
          {% elif message.role == 'user' %}
            <div class="chat-bubble user-bubble"><img src="/static/flaticon-user.png" alt="Bot" class="chat-icon"><div class="chat-message">{{ message.content }}</div></div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</body>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    setupSidebar();
    setupCreditsButton();
  });

  function setupSidebar() {
    const leftPanel = document.getElementById('left-panel');
    const toggleBtn = document.getElementById('toggle-btn');
    toggleBtn.addEventListener('click', function() {
      if(leftPanel.classList.contains('collapsed')) {
        leftPanel.classList.remove('collapsed');
      } else {
        leftPanel.classList.add('collapsed');
        hideCredits();
      }
    });
  }

  function setupCreditsButton() {
    const creditsBtn = document.getElementById('show-credits-btn');
    const creditsContainer = document.getElementById('credits-container');
    const overlay = document.getElementById('overlay');

    creditsBtn.addEventListener("click", function() {
      if (creditsContainer.style.display === "none" || !creditsContainer.style.display) {
        creditsContainer.style.display = "block";
        overlay.style.display = "block";
      } else {
        hideCredits();
      }
    });

    overlay.addEventListener("click", function() {
      creditsContainer.style.display = "none";
      overlay.style.display = "none";
    });
  }

  function hideCredits() {
    const creditsContainer = document.getElementById('credits-container');
    const overlay = document.getElementById('overlay');
    creditsContainer.style.display = "none";
    overlay.style.display = "none";
  }
</script>