<!DOCTYPE html>
<head>
  <title>Python AI</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='flaticon-brain.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body class="bg-dark">
  <div class="container-fluid">
    <div class="row p-2">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <button class="btn btn-secondary">+ New Conversation</button>
        <h3 class="text-light">Chat Interface</h3>
        <button class="btn btn-secondary" id="toggle-btn">
          <img src="/static/flaticon-sidebar.png" alt="Sidebar" class="img-fluid">
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 p-2 d-flex flex-column" id="left-panel">
        <ol class="list-group">
          {% if user_session and user_session.user_conversations %}
            {% for user_conversation in user_session.user_conversations %}
              <li class="list-group-item bg-secondary text-light">
                <img src="/static/flaticon-message.png" alt="Conversation" class="img-fluid">
                <div class="d-inline-block">{{ user_conversation.title }}</div>
                <div class="float-end">
                  <button class="btn btn-secondary btn-sm"><img src="/static/flaticon-edit.png" alt="Edit" class="img-fluid"></button>
                  <button class="btn btn-secondary btn-sm"><img src="/static/flaticon-delete.png" alt="Delete" class="img-fluid"></button>
                </div>
              </li>
            {% endfor %}
          {% endif %}
        </ol>
        <div class="mt-auto">
          <button id="show-credits-btn" class="btn btn-secondary mt-3">Credits</button>
        </div>
        <div id="credits-overlay" class="credits-overlay"></div>
        <div id="credits-container" class="credits-container">
          <h2>Credits</h2>
          <div><a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by kmg design - Flaticon</a></div>
          <div><a href="https://www.flaticon.com/free-icons/brain" title="brain icons">Brain icons created by Freepik - Flaticon</a></div>
          <div><a href="https://www.flaticon.com/free-icons/sidebar" title="sidebar icons">Sidebar icons created by Royyan Wijaya - Flaticon</a></div>
          <div><a href="https://www.flaticon.com/free-icons/edit" title="edit icons">Edit icons created by Kiranshastry - Flaticon</a></div>
          <div><a href="https://www.flaticon.com/free-icons/delete" title="delete icons">Delete icons created by Kiranshastry - Flaticon</a></div>
          <div><a href="https://www.flaticon.com/free-icons/ui" title="ui icons">Ui icons created by NajmunNahar - Flaticon</a></div>
          <div><a href="https://www.flaticon.com/free-icons/speech-bubble" title="speech bubble icons">Speech bubble icons created by Smashicons - Flaticon</a></div>
        </div>
      </div>
      <div class="col-md-5 p-2">
        <div class="input-group mb-3">
          <form action="/fetch_response" method="post" class="w-100">
            <textarea name="message" class="form-control" placeholder="Send a message" required></textarea>
            <button type="submit" class="btn btn-primary"><img src="/static/flaticon-right-arrow.png" alt="Generate" class="img-fluid"></button>
          </form>
        </div>
        <div class="chat-box text-light rounded">
          {% if user_session and user_session.conversation %}
            {% for message in user_session.conversation.messages|reverse %}
              {% if message.role == 'assistant' %}
                <div class="alert alert-secondary">
                  <img src="/static/flaticon-brain.png" alt="Bot" class="img-fluid">
                  <span>{{ message.content }}</span>
                </div>
              {% elif message.role == 'user' %}
                <div class="alert alert-dark">
                  <img src="/static/flaticon-user.png" alt="User" class="img-fluid">
                  <span>{{ message.content }}</span>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div id="app"></div>
</body>

<script src="{{ url_for('static', filename='dist/bundle.js') }}" defer></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    setupSidebar();
    setupCreditsButton();
  });

  function setupSidebar() {
    const leftPanel = document.getElementById('left-panel');
    const toggleBtn = document.getElementById('toggle-btn');
    toggleBtn.addEventListener('click', function() {
      if(leftPanel.classList.contains('collapsed')) {
        leftPanel.classList.remove('collapsed');
      } else {
        leftPanel.classList.add('collapsed');
        hideCredits();
      }
    });
  }

  function setupCreditsButton() {
    const creditsBtn = document.getElementById('show-credits-btn');
    const creditsContainer = document.getElementById('credits-container');
    const overlay = document.getElementById('credits-overlay');

    creditsBtn.addEventListener("click", function() {
      if (creditsContainer.style.display === "none" || !creditsContainer.style.display) {
        creditsContainer.style.display = "block";
        overlay.style.display = "block";
      } else {
        hideCredits();
      }
    });

    overlay.addEventListener("click", function() {
      creditsContainer.style.display = "none";
      overlay.style.display = "none";
    });
  }

  function hideCredits() {
    const creditsContainer = document.getElementById('credits-container');
    const overlay = document.getElementById('credits-overlay');
    creditsContainer.style.display = "none";
    overlay.style.display = "none";
  }
</script>